In [2]:
import sqlite3

In [4]:
#Query all columns for a city in CITY with the ID 1661.
 SELECT * FROM CITY WHERE ID = 1661

IndentationError: unexpected indent (<ipython-input-4-95c1a337c2f7>, line 2)

In [5]:
#Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.
SELECT DISTINT NAME FROM CITY
WHERE COUNTRYCODE = "USA" AND POPULATION > 100000

SyntaxError: invalid syntax (<ipython-input-5-262b0f7e2e37>, line 2)

In [6]:
#Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.
SELECT * FROM CITY WHERE COUNTRYCODE = "JPN";

SyntaxError: invalid syntax (<ipython-input-6-7824121bd20f>, line 2)

In [7]:
#Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.
SELECT DISTINCE NAME FROM CITY
WHERE COUNTRYCODE = "JPN"

SyntaxError: invalid syntax (<ipython-input-7-b90a8cc85386>, line 2)

In [8]:
#Query a list of CITY and STATE from the STATION table.
SELECT CITY, STATE FROM STATION

SyntaxError: invalid syntax (<ipython-input-8-b511f9fb129c>, line 2)

In [9]:
#Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

SELECT DISTINT CITY FROM STATION WHERE (ID % 2) = 0

SyntaxError: invalid syntax (<ipython-input-9-465ad66495cf>, line 3)

In [10]:
"""Let be the number of CITY entries in STATION, and 
let be the number of distinct CITY names in STATION; query the value 
of from STATION. In other words, find the difference 
between the total number of CITY entries in the table 
and the number of distinct CITY entries in the table."""

SELECT COUNT(CITY) - COUNT(DISTINCT CITY) FROM STATION ;

SyntaxError: invalid syntax (<ipython-input-10-9fa8721dfadc>, line 7)

In [11]:
"""Query the two cities in STATION with the shortest and longest
CITY names, as well as their
respective lengths (i.e.: number of characters in the name). If 
there is more than one smallest or largest city, choose
the one that comes first when ordered alphabetically."""
SELECT CITY,LENGTH(CITY) FROM STATION ORDER BY Length(CITY) ASC, CITY LIMIT 1;

SyntaxError: invalid syntax (<ipython-input-11-d0d268648db8>, line 6)

In [12]:
#Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

SELECT DISTINT CITY FROM STATION WHERE CITY LIKE '[AEIOU]%'

SyntaxError: invalid syntax (<ipython-input-12-c80eb951ffce>, line 3)

In [13]:
#Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.
SELECT DISTINT CITY FROM STATION WHERE CITY LIKE '%[AEIOU]'

SyntaxError: invalid syntax (<ipython-input-13-1f8845598338>, line 2)

In [14]:
#Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.
SELECT DISTINT CITY FROM STATION WHERE CITY LIKE '[AEIOU]%[AEIOU]'

SyntaxError: invalid syntax (<ipython-input-14-b83be3bc06c9>, line 2)

Task 1

Task Given an integer, perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird
Input Format

A single line containing a positive integer

Output Format

Print Weird if the number is weird; otherwise, print Not Weird.

In [15]:
n = int(input())
if n % 2 == 1:
    print("Weird")
elif n % 2 == 0 and 2 <= n <= 5:
    print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

5
Weird

Task 2

Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
Input Format

The first line contains the first integer, a. The second line contains the second integer, b.

Output Format

Print the three lines as explained above.

In [20]:
a = int(input())                         
b = int(input())

sum = a+b
difference = a-b
product = a*b

print (sum)                              
print (difference)
print (product)

3
4
7
-1
12

Task 3

Read an integer  N . For all non-negative integers  i<N  , print  i2 . See the sample for details.

Input Format

The first and only line contains the integer,  N  .

Constraints
1≤N≤i 

Output Format

Print  N  lines, one corresponding to each  i .

In [23]:
for i in range(1, int(input())):
    print(i**2)

5
1
4
9
16

Task 4

We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February.

In the Gregorian calendar three criteria must be taken into account to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.Source
Task

You are given the year, and you have to write a function to check if the year is leap or not.
Note that you have to complete the function and remaining code is given as template.
Input Format

Read y, the year that needs to be checked.

Constraints
1900≤y≤105 

Output Format

Output is taken care of by the template. Your function must return a boolean value (True/False)

In [25]:
def is_leap(n):
    if n % 400 == 0:
        return True
    if n % 100 == 0:
        return False
    if n % 4 == 0:
        return True
    return False

print(is_leap(int(input())))

1000
False

Task 5

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  n  scores. Store them in a list and find the score of the runner-up.

Input Format

The first line contains  n  . The second line contains an array  A[]  of  n  integers each separated by a space.

Constraints
2≤n≤10 
−100≤A[i]≤100 

Output Format

Print the runner-up score.

In [26]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))

maxv = max(arr)
l = list(filter(lambda x: x != maxv,arr))
print(max(l))

4
3 4 6 7
6